<h1>Enter a scrabble word!</h1>
<form action="/score">
    <div class="form-group">
        <label for="word">Enter your word</label>
        <input id="word" name="word" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Score</button>
</form>
